body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #000;
  line-height: 24px;
}

a {
  //text-decoration: none;
  //color: inherit;
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
